<%- include("./partials/header") %>
<% if(error.length > 0) { %>
    <div class="fixed z-30 top-5 left-1/2 transform -translate-x-1/2 p-4 mr-7 rounded-md bg-red-500 shadow-lg shadow-red-700">
        <span class="inline-block text-white font-semibold">
            <%= error %>
        </span>
    </div>
<% } %>

<div class="min-h-screen bg-gray-100 py-10 flex flex-col items-center">
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-gray-100 rounded-lg ">
        <h2 class="text-3xl font-bold mb-6">My Account</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- User Information -->
            <div class="bg-white p-6 rounded-lg shadow-neumorphic">
                <h3 class="text-2xl font-semibold mb-4">User Information</h3>
                <div class="flex flex-col space-y-2">
                    <div class="flex items-center mb-4">
                        <img src="/images/<%=user.image%>" alt="Profile Picture" class="object-cover object-top w-20 h-20  rounded-full border-2 border-gray-300 shadow-md mr-4">
                        <div class="flex flex-col">
                            <p><strong>Name:</strong><%=user.fullname%></p>
                            <p><strong>Email:</strong><%=user.email%></p>
                            <p><strong>Age:</strong><%=user.age%></p>
                            <p><strong>Phone:</strong><%=user.contact%></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile Picture Update -->
            <div class="bg-white p-6 rounded-lg shadow-neumorphic">
                <h3 class="text-2xl font-semibold mb-4">Update Profile Picture</h3>
            <form action="/uploadprofile" method="post" enctype="multipart/form-data">
                    <label class="block mb-2 text-lg" for="picture">Choose a new profile picture</label>
                    <input class="w-full bg-transparent border border-gray-300 p-2 rounded-lg" type="file" name="image" placeholder="/images/<%=user.image%>">
                    <button type="submit" class="neumorphic-btn mt-4 upload">Upload</button>
            </form>
            </div>
        </div>

        <!-- Account Settings -->
        <div class="bg-white p-6 mt-6 rounded-lg shadow-neumorphic"></div>
            <h3 class="text-2xl font-semibold mb-4">Account Settings</h3>
            <form action="/update" method="post">
                <div class="flex flex-col space-y-4">
                    <div>
                        <label class="block text-lg" for="name">Name</label>
                        <input type="text" id="name" name="fullname" value="<%=user.fullname%>" class="w-full p-2 border border-gray-300 rounded-lg" required>
                    </div>
                    <div>
                        <label class="block text-lg" for="age">Age</label>
                        <input type="number" id="age" name="age" value="<%=user.age%>" class="w-full p-2 border border-gray-300 rounded-lg" required>
                    </div>
                    <div>
                        <label class="block text-lg" for="phone">Phone</label>
                        <input  size="10" type="number" id="phone" name="contact" value="<%=user.contact%>" class="w-full p-2 border border-gray-300 rounded-lg">
                    </div>
                    <button type="submit" class="neumorphic-btn update">Update Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>